<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kFacePhone</key>
	<string>请正对手机</string>
	<key>kLookDownSlowly</key>
	<string>缓慢低头</string>
	<key>kLookUpSlowly</key>
	<string>缓慢抬头</string>
	<key>kLookLeftSlowly</key>
	<string>向左缓慢转头</string>
	<key>kLookRightSlowly</key>
	<string>向右缓慢转头</string>
	<key>kOpenMouth</key>
	<string>张张嘴</string>
	<key>kBlinkEye</key>
	<string>眨眨眼</string>
	<key>kRightEyeClose</key>
	<string>右眼未睁开</string>
	<key>kLeftEyeClose</key>
	<string>左眼未睁开</string>
	<key>kInputName</key>
	<string>请输入你的姓名</string>
	<key>kInputID</key>
	<string>请输入你的身份证</string>
	<key>kAuthFail</key>
	<string>验证失败</string>
	<key>kFaceCloser</key>
	<string>请将脸部靠近一点</string>
	<key>kFaceFurther</key>
	<string>请将脸部离远一点</string>
	<key>kMaskChin</key>
	<string>下颚有遮挡</string>
	<key>kMaskRightFace</key>
	<string>右脸颊有遮挡</string>
	<key>kMaskLeftFace</key>
	<string>左脸颊有遮挡</string>
	<key>kMaskMouth</key>
	<string>嘴巴有遮挡</string>
	<key>kMaskNose</key>
	<string>鼻子有遮挡</string>
	<key>kMaskRightEye</key>
	<string>右眼有遮挡</string>
	<key>kMaskLeftEye</key>
	<string>左眼有遮挡</string>
	<key>kHoldPhone</key>
	<string>请握稳手机</string>
	<key>kMoveFaceInto</key>
	<string>把脸移入框内</string>
	<key>kLightUp</key>
	<string>请使环境光线再亮些</string>
	<key>kLookLeft</key>
	<string>请略微向左转头</string>
	<key>kLookRight</key>
	<string>请略微向右转头</string>
	<key>kLookDown</key>
	<string>请略微低头</string>
	<key>kLookUp</key>
	<string>请略微抬头</string>
	<key>kVeryGood</key>
	<string>非常好</string>
	<key>kKnowMsg</key>
	<string>知道啦</string>
	<key>kCameraAuth</key>
	<string>相机权限受限,请在设置中启用</string>
	<key>kUnknownErrCamera</key>
	<string>出现未知错误，请检查相机设置</string>
	<key>kBackToHomePage</key>
	<string>回到首页</string>
	<key>kFaceDetectRetry</key>
	<string>重新采集</string>
	<key>kFaceDetectTimeout</key>
	<string>人脸采集超时</string>
	<key>kMaskFace</key>
	<string>脸部有遮挡</string>
	<key>kKeepPositiveFace</key>
	<string>请保持正脸</string>
</dict>
</plist>
